:root {
  --neutral1: hsl(243, 96%, 9%);
  --neutral2: hsl(243, 27%, 20%);
  --neutral3: hsl(243, 23%, 24%);
  --neutral4: hsl(243, 23%, 30%);
  --neutral5: hsl(240, 6%, 70%);
  --neutral6: hsl(250, 6%, 84%);
  --neutral7: hsl(0, 0%, 100%);
}

@import url("https://fonts.google.com/specimen/DM+Sans");

* {
  font-size: 18px;
}

body {
  background-color: hsl(243, 96%, 9%);
}

.container {
  width: 95%;
  height: 100%;

  margin: auto;
}

.dropdown {
  background-color: yellow;
  height: 60px;
  padding: 9px;
}

.temperature-units {
  float: right;
  background: hsl(243, 23%, 30%);
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  font-size: 15px;
  text-align: right;
}

h1 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 2rem;
}

.inputs {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.4fr 100px;
  grid-template-rows: 1fr;
  gap: 10px;
  margin: 25px;
  height: 40px;
}

input {
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background: purple;
  width: 70px;
  color: hsl(250, 6%, 84%);
}

.forecast {
  height: auto;
  background: url(./src/bg-today-large.svg);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
}

.location {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}

.date {
  grid-column: 1;
  grid-row: 2;
  align-self: start;
}

.temperature {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: end;
  font-size: 4rem;
  font-weight: bold;
}

.temperature img {
  width: 100px;
  height: auto;
}

.location,
.temperature,
.date {
  color: hsl(0, 0%, 100%);
}

.weather-stats {
  background: transparent;

  margin: 10px;
  gap: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.detail-item {
  color: hsl(250, 6%, 84%);
  background: hsl(243, 23%, 30%);

  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}

.stat-value {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}

.stat-label {
  color: hsl(240, 6%, 70%);
  font-size: 1.2rem;
}

h3 {
  color: hsl(0, 0%, 100%);
  margin: 1rem;
}

.daily-forecast {
  background: transparent;

  margin: 10px;
}

.forecast-item {
  background: hsl(243, 23%, 30%);

  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 0;
  padding: 5px;
}

.weekday {
  text-align: center;
  padding: 10px;
}

.forecast-item img {
  display: block;
  margin: 0 auto;
}

.temp-group {
  display: flex;
  justify-content: space-between;
  margin: 5px;

  gap: 15px;
}

.temp-high {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

.temp-low {
  color: hsl(0, 0%, 100%);
}

.daily-forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.daily-forecast h3 {
  grid-column: 1 / -1;
  grid-template-columns: repeat(7, 1fr);
}

.forecast-item {
  margin: 0;
  gap: 10px;
}

.forecast,
.weather-stats,
.daily-forecast {
  grid-column: 1;
}

select {
  background: hsl(243, 23%, 25%);
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

.hourly-forecast {
  background: hsl(240, 6%, 70%);
  border-radius: 10px;

  padding: 15px;
  grid-column: 2;
  grid-row: 1 / 4;
  box-sizing: border-box;
}

.hourly {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  margin: 15px 0;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
  box-sizing: border-box;
}

.hourly-time {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 5px;
}

.grid-container {
  background: hsl(243, 96%, 9%);
  display: grid;
  grid-template-columns: 2fr 1fr;

  max-width: 1200px;
  gap: 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .container {
    background: hsl(243, 27%, 20%);
  }
}
