:root {
  --neutral1: hsl(243, 96%, 9%);
  --neutral2: hsl(243, 27%, 20%);
  --neutral3: hsl(243, 23%, 24%);
  --neutral4: hsl(243, 23%, 30%);
  --neutral5: hsl(240, 6%, 70%);
  --neutral6: hsl(250, 6%, 84%);
  --neutral7: hsl(0, 0%, 100%);
}

body {
  background-color: hsl(243, 96%, 9%);
}

.container {
  width: 95%;
  height: 100%;

  margin: auto;
}

.dropdown {
  background-color: yellow;
  height: 60px;
  padding: 9px;
}

.temperature-units {
  float: right;
  background: hsl(243, 23%, 30%);
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  font-size: 15px;
  text-align: right;
}

h1 {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.inputs {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.4fr 100px;
  gap: 10px;
  margin: 25px;
}

input {
  height: 30px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background: purple;
  width: 70px;
  color: hsl(250, 6%, 84%);
}

.forecast {
  width: 43.5rem;
  height: 150px;
  background: url(./src/bg-today-large.svg);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.location,
.temperature {
  color: hsl(0, 0%, 100%);
  padding: 5px;
}

.date {
  color: hsl(250, 6%, 84%);
}

.weather-stats {
  display: flex;
  background: orange;
  width: 45rem;
  margin: 10px;
  gap: 10px;
}

.detail-item {
  color: hsl(250, 6%, 84%);
  background: blue;
  width: 15rem;
  height: 5rem;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.stat-value {
  color: hsl(0, 0%, 100%);
}

h3 {
  color: hsl(0, 0%, 100%);
  margin: 1rem;
}

.daily-forecast {
  background: cyan;
  width: 45rem;
  margin: 10px;
  display: flex;
}

.forecast-item {
  background: red;
  width: 5.5rem;
  height: 10rem;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 5px;
  padding-bottom: 10px;
}

.weekday {
  text-align: center;
  padding: 10px;
}

.forecast-item img {
  display: block;
  margin: 0 auto;
}

.temp-group {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 15px;
  gap: 10px;
}

.temp-high {
  font-weight: bold;
  color: grey;
}

.temp-low {
  color: grey;
}

.forecast-container {
  display: flex;

  justify-content: space-between;
  margin: 5px;
}

.daily-forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 1fr;
}

.daily-forecast h3 {
  grid-row: 1;
  grid-column: 1 / 7;
}

.forecast-item {
  grid-row: 2;
}

select {
  background: hsl(243, 23%, 25%);
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

.hourly-forecast {
  width: 18rem;
  background: purple;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
}

.hourly {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: 15rem;
  height: 3rem;
  margin: 5px;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.hourly-time {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 5px;
}

.grid-container {
  background: hsl(243, 96%, 9%);
  display: grid;
}

@media only screen and (max-width: 992px) {
  .container {
    background: hsl(243, 27%, 20%);
  }
}
