:root {
  --neutral1: hsl(243, 96%, 9%);
  --neutral2: hsl(243, 27%, 20%);
  --neutral3: hsl(243, 23%, 24%);
  --neutral4: hsl(243, 23%, 30%);
  --neutral5: hsl(240, 6%, 70%);
  --neutral6: hsl(250, 6%, 84%);
  --neutral7: hsl(0, 0%, 100%);
}

body {
  background-color: hsl(243, 96%, 9%);
}

.container {
  width: 95%;
  height: 100%;

  margin: auto;
}

.dropdown {
  background-color: yellow;
  height: 60px;
  padding: 9px;
}

.temperature-units {
  float: right;
  background: hsl(243, 23%, 30%);
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  font-size: 15px;
  text-align: right;
}

h1 {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.inputs {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.4fr 100px;
  gap: 10px;
  margin: 25px;
}

input {
  height: 30px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background: purple;
  width: 70px;
  color: hsl(250, 6%, 84%);
}

.forecast {
  width: 50%;
  height: 150px;
  background: url(./src/bg-today-large.svg);
  padding: 15px;
  border-radius: 10px;
}

.location,
.temperature {
  color: hsl(0, 0%, 100%);
}

.date {
  color: hsl(250, 6%, 84%);
}

.weather-stats {
  display: flex;
  justify-content: space-between;
  /* background: hsl(243, 23%, 30%); */
  margin: 15px;
}

.detail-item {
  border-radius: 10px;
  color: hsl(250, 6%, 84%);
  background: blue;

  text-align: center;
}

.stat-value {
  color: hsl(0, 0%, 100%);
}

h3 {
  color: hsl(0, 0%, 100%);
}

.forecast-item {
  background: red;
  width: 16rem;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 15px;
}

.weekday {
  text-align: center;
}

.forecast-item img {
  display: block;
  margin: 0 auto;
}

.hourly-forecast {
  width: 45%;
  background: hsl(243, 23%, 30%);
  border-radius: 10px;
  margin: 15px;
  float: right;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

select {
  background: hsl(243, 23%, 25%);
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

.hourly-temperature-one {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

/* .hourly span {
  float: right;
} */

.hourly-temperature-two {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.hourly-temperature-three {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.hourly-temperature-four {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.hourly-temperature-five {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.hourly-temperature-six {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.hourly-temperature-seven {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.hourly-temperature-eight {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 23%, 25%);
  width: 88%;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid hsl(243, 30%, 60%);
}

.grid-container {
  background: hsl(243, 96%, 9%);
  display: grid;
}

@media only screen and (max-width: 992px) {
  .container {
    background: hsl(243, 27%, 20%);
  }
}
